<div class="dashboard-container">
    <header class="header">
        <h1>Mecánica.NET</h1>
        <nav class="user-nav">

        </nav>
    </header>

    <main class="main-content">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a routerLink="/empleados" routerLinkActive="active-link">EMPLEADOS</a></li>
                    <li><a routerLink="/servicios" routerLinkActive="active-link">SERVICIOS</a></li>
                    </ul>
            </nav>
        </aside>

        <section class="router-area">
            <router-outlet></router-outlet>
        </section>
    </main>
</div>